*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E1F5FE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Navbar starts here*/

header {
    width: 100%;
    background-color: #01579B;
    color: white;
    border-bottom: 4px solid #00335A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.websites {
    margin: 30px 0px 30px 30px;
}

.websites a:not(.home) {
    font-size: 31px;
    text-decoration: none;
    color: white;

    padding: 20px 30px 20px 30px;
    margin: 0px 5px 0px 5px;
}

.home {
    font-size: 31px;
    text-decoration: none;
    color: white;

    padding: 20px 30px 20px 30px;
    margin: 0px 5px 0px 5px;
}

.websites a:hover {
    background-color: #00335A;
    border: 2px solid white;
    border-radius: 5px;
}



.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 50px;
    height: 4px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



.line {
    display: flex;
    align-items: center;
    margin: 0px 27px 0px 0px;
}

.searchBar {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;

    margin: 27px;
    padding: 0px 0px 0px 5px;
}

.searchInput {
    width: 350px;
    background-color: #01579B;
    font-size: 25px;
    color: white;
    border: none;
    outline: none;

    padding: 10px;
}

.searchInput::placeholder {
    color: rgb(235, 235, 235);
}



.buttonSearch {
    background-color: #01579B;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;

    padding: 10px 15px 10px 10px;
}

.buttonSearch:hover {
    background-color: #00335A;
}

.buttonImg {
    width: 40px;
}

.authorIcon {
    width: 65px;
    border: 2px solid white;
    border-radius: 45px;
}

/* Navbar ends here*/


/* Section starts here */

section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3.5% 0px 3.5% 0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTextNum1 {
    font-size: 34px;
    line-height: 1.5;
    color: #00335A;
    margin: 12% 100px 80px 100px;
}

/* Section finishes here */

@media screen and (max-width: 1880px) {

    .websites {
        margin: 30px 0px 30px 30px;
    }

    .websites a:not(.home) {
        font-size: 24px;
    }

    .home {
        font-size: 24px;
    }



    .searchInput {
        width: 300px;

        padding: 10px;
    }

    .searchInput::placeholder {
        color: rgb(235, 235, 235);
    }

    .buttonImg {
        width: 35px;
    }

    .authorIcon {
        width: 56px;
    }



    .mainTextNum1 {
        font-size: 32px;
    }

}

@media screen and (max-width: 1620px) {

    .websites {
        margin: 30px 0px 30px 30px;
    }

    .websites a:not(.home) {
        font-size: 22px;
    }

    .home {
        font-size: 22px;
    }



    .searchInput {
        width: 250px;
        font-size: 20px;

        padding: 10px;
    }

    .searchInput::placeholder {
        color: rgb(235, 235, 235);
    }

    .buttonImg {
        width: 30px;
    }

    .authorIcon {
        width: 52px;
    }



    .mainTextNum1 {
        font-size: 28px;
    }

}

@media screen and (max-width: 1406px) {
    
    .hamburger {
        display: block;
        margin: 0px 40px 0px 40px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        margin: -3.5px auto;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        margin: -3.5px auto;
    }

    .websites {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -110%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #01579B;
        width: 100%;
        text-align: center;
        transition: 0.3s;

        margin: 0;
        padding-bottom: 5px;

        border-bottom: 4px solid #00335A;
    }

    .websites a {
        margin: 16px 0;
    }

    .websites.active {
        left: 0;
    }

}

@media screen and (max-width: 804px) {

    .websites a:not(.home) {
        font-size: 18px;
    }

    .home {
        font-size: 18px;
    }

    .searchInput {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 716px) {
    
    .searchInput {
        font-size: 18px;
    }

    .mainTextNum1 {
        font-size: 24px;
    }

}

@media screen and (max-width: 610px) {

    .websites a:not(.home) {
        font-size: 16px;
    }

    .home {
        font-size: 16px;
    }

    .authorIcon {
        margin: 25px 0px 25px 0px;
    }

    .searchBar {
        display: none;
    }



    .mainTextNum1 {
        font-size: 20px;
        margin: 120px 50px 120px 50px;
    }
    
}